PORT=3001
PUBLIC_PATH=public

POSTGRES_URL=postgresql://postgres:123456@localhost:5432/TODO
POSTGRES_USER=postgres
POSTGRES_DB=TODO
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456

DB_CNN=mongodb+srv://mern_user_test:F0QOdeQrNCYWgsuF@testdb.dxbo9mk.mongodb.net/mern_test
MONGO_URL=mongodb://Joha:123456@localhost:27018/
MONGO_DB_NAME=TEST
MONGO_USER=Joha
MONGO_PASS=123456


NODE_ENV=development